html {
    scroll-behavior: smooth;
  }
  
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.dev{
    margin-right: 10px;

}
.btn{
    margin-left: 5px;
}
.btncontact{
    margin-right: 10px;
    border-radius: 10px;
}
.image{
    height: 80px;
}
.carousel-item img{
  height:650px;
  object-fit:cover;
}

/* Modal Styling */
.modal-content {
    border: none;
    border-radius: 20px;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 30px;
}

.modal input,
.modal textarea,
.modal select {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.modal input:focus,
.modal textarea:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-color: black;
}

.modal button {
    border-radius: 30px;
}

/* Hover effect */
.btn-dark:hover {
    background: #333;
}

/* Smooth animation */
.modal.fade .modal-dialog {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.modal.show .modal-dialog {
    transform: scale(1);
}
.typing-text {
    color: rgb(241, 20, 20); 
    font-size: 40px; 
    font-weight: bold;
}

/* Dark mode */
body.dark-mode .typing-text {
    color: #ffffff; /* White in dark mode */
}

/* Dark Mode */
body.dark-mode {
    background: #121212;
    color: white; /* Body text white */
}

.dark-mode p {
    color: white !important;
}

/* Cards Dark Mode */
body.dark-mode .card {
    background-color: #1e1e1e; /* Card background dark */
    color: white; /* Card text white */
    border-color: #333; /* Card border darker */
}

/* Card titles & text */
body.dark-mode .card-title,
body.dark-mode .card-text {
    color: white !important;
}

/* Card buttons */
body.dark-mode .card .btn-dark {
    background-color: #333; /* Dark button bg */
    color: white; /* Button text white */
    border: 1px solid #555;
}

body.dark-mode .card .btn-dark:hover {
    background-color: #555;
    color: white;
}



/* Certificate Card */
.certificate-card {
    transition: all 0.3s ease;
}

.certificate-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Dark Mode */
body.dark-mode .certificate-card {
    background-color: #222 !important;
    color: white !important;
}

body.dark-mode .certificate-card .card-text {
    color: #ddd !important;
}

body.dark-mode .certificate-card a.btn {
    background-color: #555 !important;
    color: #fff !important;
}


/* Tablet */
@media (max-width: 992px){
    .btncontact{
    margin-bottom: 10px;
    margin-left: 0;
    border-radius: 10px;
}
  .carousel-item img{
    height: 350px;
  }
}

/* Mobile */
@media (max-width: 576px){
    .btncontact{
    margin-bottom: 10px;
    margin-left: 0;
    border-radius: 10px;
}
  .carousel-item img{
    height: 200px;
  }
}
